@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
@import url('https://fonts.googleapis.com/css?family=Aldrich');

html,
body {
  margin: 0;
  padding: 0;
}

.main {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  background-color: lightgray;
}