.main {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
}

.description {
  flex-grow: 1;

  font-size: 13px;
  line-height: 24pt;
  letter-spacing: 0.9pt;

  color: rgba(0, 0, 0, 0.87);
}

.controlContainer {
  align-items: center;
}

.controlValue {
  font-size: 24px;
  line-height: 32pt;
  letter-spacing: 0.5pt;

  width: 36px;
  display: inline-block;
  margin: 0 5px 0 5px;
  text-align: center;
}

.controlButton {
  background: red;
}